DATABASE_URL=postgresql://postgres:example@localhost:5432/postgres
AUTH_DRIZZLE_URL=postgresql://postgres:example@localhost:5432/postgres
NODE_ENV=development
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
BUCKET_NAME=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_ACCOUNT_ID=
NEXT_PUBLIC_BUCKET_URL=
NEXT_PUBLIC_KNOCK_PUBLIC_API_KEY=
NEXT_PUBLIC_KNOCK_FEED_ID=